Q4

In [2]:
import pandas as pd

In [3]:
dict1={
    "Text":["Harsh","Heta","rashi","Parv","rini"],
    "age":[1,2,3,4,5]
}

df=pd.DataFrame(dict1)
# df

    Text  age
0  Harsh    1
1   Heta    2
2  rashi    3
3   Parv    4
4   rini    5

In [5]:
def lencheck(x):
  return len(x)

df["Wordcount"]=df["Text"].apply(lencheck)
df

    Text  age  Wordcount
0  Harsh    1          5
1   Heta    2          4
2  rashi    3          5
3   Parv    4          4
4   rini    5          4

Q5

In [7]:
df.shape
# it return rows and columns

(5, 3)

In [9]:
df.size
# it return number of rows *number of columns

15

Q6

In [12]:
a=pd.read_excel("Solution1.xlsx")
a

,Unnamed: 0,Unnamed: 1,Beginner Excel Data Analysis Course,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,NaN,NaN,Gunar Cockshoot,New Zealand,Almond Choco,938,366,11.88,4348.08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,NaN,NaN,Gunar Cockshoot,Australia,Baker's Choco Chips,8841,303,5.6,1696.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,NaN,NaN,Barr Faughny,UK,Peanut Butter Cubes,4018,126,12.37,1558.62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,NaN,NaN,Carla Molina,New Zealand,Raspberry Choco,714,231,11.73,2709.63,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,NaN,NaN,Husein Augar,Australia,White Choc,3850,102,13.15,1341.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Q7

In [13]:
dict1 ={'Name':["Harsh",'Aadhya','Krisha'
               ],
                'Marks':[99,89,99,],
                'Gender':['Male','Female','Female'],
                'Email':["abc@gmail.com","xyz@gmail.com","pqr@gmail.com"]
        }

df1=pd.DataFrame(dict1)
df1

     Name  Marks  Gender          Email
0   Harsh     99    Male  abc@gmail.com
1  Aadhya     89  Female  xyz@gmail.com
2  Krisha     99  Female  pqr@gmail.com

In [28]:
x="abc@gmail.com"

def checkname(x):
    a=x.split("@")
    return a[0]

df1["Username"]=df1["Email"].apply(checkname)
df1

     Name  Marks  Gender          Email Username
0   Harsh     99    Male  abc@gmail.com      abc
1  Aadhya     89  Female  xyz@gmail.com      xyz
2  Krisha     99  Female  pqr@gmail.com      pqr

Q8

In [89]:
dict2={
    "A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]
}

df2=pd.DataFrame(dict2)
df2

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [35]:
df2[(df2["A"]>5) & (df2["B"]<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9

In [36]:
dict1 ={'Name':["Harsh",'Aadhya','Krisha'
               ],
                'Marks':[99,89,99,],
                'Gender':['Male','Female','Female'],
                'Email':["abc@gmail.com","xyz@gmail.com","pqr@gmail.com"]
        }

df1.describe()

           Marks
count   3.000000
mean   95.666667
std     5.773503
min    89.000000
25%    94.000000
50%    99.000000
75%    99.000000
max    99.000000

Q12

In [45]:
dict1 ={'Name':["Harsh",'Aadhya','Krisha','Arnab',"rashi"],
        'Marks':[99,89,99,1,11],
        'Gender':['Male','Female','Female','Male','Female'],
        'Date':['2023-01-03','2023-02-22','2023-01-23','2023-03-12','2023-01-13']
        }
df4=pd.DataFrame(dict1)
df4

     Name  Marks  Gender        Date
0   Harsh     99    Male  2023-01-03
1  Aadhya     89  Female  2023-02-22
2  Krisha     99  Female  2023-01-23
3   Arnab      1    Male  2023-03-12
4   rashi     11  Female  2023-01-13

In [48]:
def datecheck(x):
  if x[5:7]=="01":
    return x

df4["Jan_Data"]=df4['Date'].apply(datecheck)
df4

     Name  Marks  Gender        Date    Jan_Data
0   Harsh     99    Male  2023-01-03  2023-01-03
1  Aadhya     89  Female  2023-02-22        None
2  Krisha     99  Female  2023-01-23  2023-01-23
3   Arnab      1    Male  2023-03-12        None
4   rashi     11  Female  2023-01-13  2023-01-13

Q13

In [ ]:
# To use functions of pandas first we need to import 
# import pandas as pd
# import numpy as np

Q3

In [53]:
dict2 ={'Name':["Harsh",'Aadhya','Krisha','Harish','Divya'],
        'Values':[10,20,30,40,50]}

df5=pd.DataFrame(dict2)
df5

     Name  Values
0   Harsh      10
1  Aadhya      20
2  Krisha      30
3  Harish      40
4   Divya      50

In [75]:
df5["Values"][0:3].sum()

60

In [88]:
a1=[]
for i in range(len(df5["Values"])):
  if i<3:
    a1.append(df5["Values"][i])
print(a1)
print(sum(a1))

[10, 20, 30]
60

Q2

In [90]:
dict2={
    "A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]
}

df2=pd.DataFrame(dict2)
df2

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [105]:
# s = pd.Series([1, 2, 3, 4])
# df.set_index([s, s**2])
a=[0,1,2,3,4]
b=[]
for i in range(len(a)):
  a[i]=a[i-1]+2
  b.append(a[i])
print(b)

[6, 8, 10, 12, 14]